<div id="links" class="well">
  <h5>
    <%= fa_icon 'newspaper-o' %>
    <%= link_to 'NewsFeed', root_path %>
  </h5>
  <h5>
    <%= fa_icon 'users' %>
    <%= link_to 'All Users', all_users_path %>
  </h5>
</div>
